.Notes {
    position: relative;
    height: 100%;
}

.Notes .TextAreaInput {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 40px;
}

.Notes .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
}