.Repair .status {
    font-size: var(--font-standard);
    padding: 4px 8px;
    align-self: center;
    border-radius: 6px;
    margin-left: 10px;
}

.Repair .status.red { color: var(--red); background-color: var(--background-red); }
.Repair .status.orange { color: var(--orange); background-color: var(--background-orange); }
.Repair .status.green { color: var(--green); background-color: var(--background-green); }
.Repair .status.black { color: white; background-color: rgba(0, 0, 0, 0.8); }

.Repair .status.archived { color: var(--grey); background-color: var(--background-grey); }

.Repair .divider {
    width: 0.9px;
    background-color: var(--subcontent-border);
}

.Repair .actions-menu-button {
    position: absolute;
    right: 0;
    top: 14px;
    background-color: var(--content-background);
}
.Repair .actions-menu-button img {
    height: 20px;
    vertical-align: -5px;
    margin-left: 5px;
}
.light-theme .Repair .PageTitle .dark { display: none; }
.dark-theme .Repair .PageTitle .light { display: none; }

.Repair .actions-menu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: var(--subcontent-border);
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 6px;
    overflow: hidden;
    width: 120px;
    border: 1px solid var(--subcontent-border);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.Repair .actions-menu .ActionButton {
    background-color: var(--content-background);
    border: none;
    border-radius: 0;
}
.Repair .actions-menu .ActionButton:hover {
    background-color: var(--hover-color);
}
.Repair .actions-menu .ActionButton:active {
    background-color: var(--click-color);
}
.Repair .actions-menu img {
    height: 17px;
    vertical-align: -3px;
    margin-right: 6px;
}
.Repair .actions-menu .ActionButton.red {
    color: red;
}

/* BASIC DETAILS */

.Repair .basic-details {
    display: flex;
    gap: 8px;
}

.Repair .customer-and-instrument-details {
    flex: 3;
    display: flex;
    gap: 20px;
}

.Repair .notes-block {
    flex: 2;
    position: relative;
}

.Repair .notes-block .BlockTopRightButton {
    top: 10px;
    right: 12px;
}

.Repair .notes-block .TextAreaInput {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 40px;
}

.Repair .notes-block .buttons {
    position: absolute;
    bottom: 10px;
    right: 12px;
    display: flex;
    gap: 4px;
}

/* ASSESSMENTS */

.Repair .assessment-block { margin-top: 8px; }

@media screen and (max-width: 1200px) {
    .Repair .notes-block { flex: 1.5 }
}

@media screen and (max-width: 800px) {
    .Repair .basic-details {
        flex-direction: column;
    }

    .Repair .notes-block { min-height: 100px; }
}

@media screen and (max-width: 500px) {
    .Repair .customer-and-instrument-details {
        flex-direction: column;
    }

    .Repair .divider {
        height: 1px;
        width: unset !important; 
    }
}