.Repair .status {
    font-size: var(--font-standard);
    padding: 4px 8px;
    align-self: center;
    border-radius: 6px;
    margin-left: 10px;
}

.Repair .status.red { color: var(--red); background-color: var(--background-red); }
.Repair .status.orange { color: var(--orange); background-color: var(--background-orange); }
.Repair .status.green { color: var(--green); background-color: var(--background-green); }
.Repair .status.black { color: white; background-color: rgba(0, 0, 0, 0.8); }

.Repair .divider {
    width: 1px;
    background-color: var(--subcontent-border);
}

/* BASIC DETAILS */

.Repair .basic-details {
    display: flex;
    gap: 8px;
}

.Repair .customer-and-instrument-details {
    flex: 3;
    display: flex;
    gap: 20px;
}

.Repair .notes-block { flex: 2; }

/* ASSESSMENTS */

.Repair .assessment-block { margin-top: 8px; }

@media screen and (max-width: 1200px) {
    .Repair .notes-block { flex: 1.5 }
}

@media screen and (max-width: 800px) {
    .Repair .basic-details {
        flex-direction: column;
    }

    .Repair .notes-block { min-height: 100px; }
}

@media screen and (max-width: 500px) {
    .Repair .customer-and-instrument-details {
        flex-direction: column;
    }

    .Repair .divider {
        height: 1px;
        width: unset !important; 
    }
}