.CreateRepairWindow {
    width: 600px !important;
    height: 400px !important;
}

.CreateRepairWindow .details {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 80px);
}

.CreateRepairWindow .customer-details .new-customer-name {
    display: flex;
    gap: 8px;
}

.CreateRepairWindow .customer-details .new-customer-name .TextInput {
    width: 160px;
}

.CreateRepairWindow .customer-details .in-house-repair-checkbox {
    margin-left: 16px;
    margin-right: 4px;
}

.CreateRepairWindow .name-search, .CreateRepairWindow .serial-number-search {
    margin-top: 4px;
}
.CreateRepairWindow .customer-details,
.CreateRepairWindow .customer-details .create-new-customer-button,
.CreateRepairWindow .instrument-details .create-new-instrument-button {
    margin-top: 8px;
}

.CreateRepairWindow .search-results {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.CreateRepairWindow .search-result {
    transition: 0.1s;
}
.CreateRepairWindow .search-result .details-flex-container {
    margin: 0 8px;
    padding: 2px 0;
    transition: 0.1s;
    display: flex;
    border-radius: 4px;
}
.CreateRepairWindow .search-result:hover .details-flex-container {
    margin: 0;
    padding: 2px 8px;
    background-color: var(--subcontent-border);
    cursor: pointer;
}

.CreateRepairWindow .customer-details .search-result .details-flex-container .name { width: 160px; }
.CreateRepairWindow .customer-details .search-result .details-flex-container .telephone { width: 160px; }

.CreateRepairWindow .instrument-details .search-result .details-flex-container .serial-number { width: 120px; }
.CreateRepairWindow .instrument-details .search-result .details-flex-container .type { width: 120px; }

.CreateRepairWindow .basic-info {
    display: flex;
    gap: 20px;
    margin-top: 12px;
}

.CreateRepairWindow .basic-info span { flex: 1; }

.CreateRepairWindow .basic-info .divider {
    width: 0.8px;
    background-color: var(--subcontent-border);
    grid-column: 2;
    grid-row: 1 / span 3;
}

.CreateRepairWindow .basic-info .text-inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.CreateRepairWindow .basic-info .text-inputs .TextInput, .TextAreaInput {
    box-sizing: border-box;
    width: 100%;
}

.CreateRepairWindow .instrument-details {
    margin-top: 16px;
}

.CreateRepairWindow .status-dropdown {
    margin-top: 4px;
    padding: 2px 8px;
}

.CreateRepairWindow .notes {
    margin-top: 16px;
}

.CreateRepairWindow .error-message {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--red);
}

.CreateRepairWindow .buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 800px) {
    .ModalWindow {
        align-items: end;
    }

    .CreateRepairWindow {
        width: 100% !important;
        height: 600px !important;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .CreateRepairWindow .customer-details .new-customer-name .TextInput {
        width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .CreateRepairWindow .basic-info {
        flex-direction: column;
        gap: 8px;
    }
}