.dashboard {

    .title {
        margin: 0 0 20px;
        font-size: $title;
    }

    .stats {
        display: flex;
        gap: 10px;

        .stat-box {
            padding: 10px;
            background-color: $white;
            border: 1px solid $light-grey;
            border-radius: 12px;
        }

        .primary {
            flex: 3;
        }

        .secondary {
            flex: 2;
        }
    }

    .activity-subtitle {
        margin: 20px 0;
        font-size: $subtitle;

        .filter {
            margin: 0 10px;
            padding: 10px;
            background: none;
            border: 1px solid $grey;
        }
    }

}