.RepairersSettings .repairers-title {
    display: flex;
    align-items: center;
}

.RepairersSettings .repairers-title div {
    flex: 1;
}

.RepairersSettings .repairers-title .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.RepairersSettings .repairers-grid {
    margin-top: 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: 120px 100px 100px 100px 100px 100px auto;
    align-items: center;
}

.RepairersSettings .repairers-grid .delete-button {
    text-align: right;
}

.RepairersSettings .new-repairer-form {
    display: flex;
    gap: 4px;
    margin-top: 16px;
}

.RepairersSettings .new-repairer-form .TextInput {
    width: 200px;
}