.RepairsSettings {
    min-width: 600px;
}

.RepairsSettings .divider {
    width: 100%;
    height: 0.9px;
    background-color: var(--subcontent-border);
    margin: 16px 0;
}

.RepairsSettings .section-title {
    display: flex;
    align-items: center;
}

.RepairsSettings .section-title div {
    flex: 1;
}

.RepairsSettings .section-title .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.RepairsSettings .job-types {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 240px auto 70px 70px;
    gap: 8px;
    align-items: start;
}

.RepairsSettings .instrument-statuses {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto 70px 70px;
    gap: 8px;
    align-items: start;
}

.RepairsSettings .hourly-rate {
    margin-top: 16px;
}

.RepairsSettings .hourly-rate .TextInput {
    width: 50px;
}

.RepairsSettings .hourly-rate p {
    display: inline;
    margin-left: 8px;
}

@media screen and (max-width: 800px) {
    .RepairsSettings .job_types {
        grid-template-columns: 100px auto 55px 70px;
    }
}