.RepairsSettings {
    min-width: 600px;
}

.RepairsSettings .divider {
    width: 100%;
    height: 0.9px;
    background-color: var(--subcontent-border);
    margin: 16px 0;
}

.RepairsSettings .section-title {
    display: flex;
    align-items: center;
}

.RepairsSettings .section-title div {
    flex: 1;
}

.RepairsSettings .section-title .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.RepairsSettings .job-types {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 240px auto 220px 220px 70px 70px;
    gap: 8px;
    align-items: start;
}

.RepairsSettings .job-types .TextAreaInput {
    width: 90%;
}

.RepairsSettings .job-types .materials-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
}

.RepairsSettings .job-types .material-input {
    display: flex;
    gap: 8px;
    align-items: center;
}

.RepairsSettings .job-types .material-input .TextInput {
    width: 30px;
    padding: 2px 8px;
}

.RepairsSettings .job-types .material-input .ActionButton {
    border-color: red;
    height: 24px;
    width: 24px;
    padding: 3px;
}

.RepairsSettings .job-types .material-input .ActionButton:hover {
    background-color: var(--calendar-red);
}

.RepairsSettings .job-types .material-input .ActionButton img {
    width: 16px;
}

.RepairsSettings .job-types .time-inputs {
    display: flex;
    gap: 8px;
}

.RepairsSettings .job-types .DropdownSelect {
    font-size: 13px;
    padding: 5px;
}

.RepairsSettings .instrument-statuses {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto 70px 70px;
    gap: 8px;
    align-items: start;
}

.RepairsSettings .hourly-rate {
    margin-top: 16px;
}

.RepairsSettings .hourly-rate .TextInput {
    width: 50px;
}

.RepairsSettings .hourly-rate p {
    display: inline;
    margin-left: 8px;
}

@media screen and (max-width: 800px) {
    .RepairsSettings .job_types {
        grid-template-columns: 100px auto 55px 70px;
    }
}