.repair-instrument {

    flex: 3;
    padding: 10px 14px;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 12px;

    .instrument-box {

        position: relative;
        box-sizing: border-box;
        height: 100%;
        padding-bottom: 60px;

        .instrument-type {
            margin: 0;
            margin-top: 10px;
            font-size: 17px;
        }

        .instrument-detail {
            margin: 0;
            margin-top: 10px;
        }

        .expand-button {
            position: absolute;
            top: 52px;
            right: 10px;
            color: $darker-grey;
        }

        .expand-button:hover {
            color: rgb(95, 95, 95);
        }

        .expand-button:active {
            color: #303030;
        }

        .buttons-holder {
            position: absolute;
            bottom: 2px;
            width: 100%;
            height: 40px;
            display: flex;
            gap: 10px;

            div { flex: 1; }
        }

        .instrument-error-message {
            margin: 0;
            margin-top: 10px;
        }

        .no-instrument-buttons {
            height: 102%;
            margin-top: 16px;
            display: flex;
            gap: 10px;

            div { flex: 1; }
            button { padding: 0 20%; font-size: 16px; color: rgb(46, 46, 46); }
            button:hover { color: rgb(46, 46, 46); }
            .fa-icon { font-size: 40px; padding: 0 40px 10px; }
        }

        .instrument-search {
            width: calc(100% - 15px);
            margin-top: 16px;
            font-size: 15px;
        }
        
        .search-results {
            height: 124px;
            margin: 0 -10px 0 -15px;
            padding: 0 15px;
            margin-top: 5px;
            overflow-y: scroll;
            overflow-x: hidden;

            .instrument-result {
                display: flex;
                padding: 4px 10px;
                transition: 0.1s;

                .serial { flex: 9 }
                .info { flex: 16 }
            }

            .instrument-result:hover, .selected {
                cursor: pointer;
                margin: 0 -15px;
                padding: 4px 25px;
                box-shadow: 0 -1px 0 $light-grey;
            }

            .instrument-result:hover {
                background-color: $light-grey;
            }

            .selected, .selected:hover {
                background-color: $click-grey;
            }
        }

        .search-results::-webkit-scrollbar {
            width: 8px;
        }
          
        .search-results::-webkit-scrollbar-track {
            background: $white;
        }
          
        .search-results::-webkit-scrollbar-thumb {
            background-color: $dark-grey;
            border-radius: 20px;
        }

        input, select {
            width: 200px;
            margin-top: 10px;
            padding: 6px;
            border: 1px solid $grey;
            border-radius: 6px;
            outline: none;
            font-size: 14px;
        }

        .wide {
            width: 300px;
        }

        .instrument-label {
            margin-right: 34px;
        }

        .manufacturer-label {
            margin-right: 15px;
        }

        .model-label {
            margin-right: 68px;
        }

        .serial-label {
            margin-right: 11px;
        }

    }

}