.repair-timer {

    flex: 4;

    .timer {
        display: flex;
        margin: auto;
        margin-top: 12px;
        width: 440px;
        font-weight: bold;
        font-size: 100px;

        p {
            flex: 1;
            display: inline-block;
            margin: 0;
            text-align: center;
        }
    }

    .timer-labels {
        display: flex;
        margin: auto;
        width: 440px;
        font-weight: bold;


        p {
            flex: 1;
            display: inline-block;
            margin: 0;
            text-align: center;
        }
    }

    .control-buttons {

        margin-top: 20px;
        text-align: center;

        .play-pause-button {
            display: inline-block;
            color: $primary;
            margin: 0 10px;
            font-size: 60px;
            vertical-align: middle;
            transition: 0.1s;
        }

        .play-pause-button:hover { color: $primary-tint; }
        .play-pause-button:active { color: $primary-click; }

        .reset-button {
            display: inline-block;
            margin: 0 10px;
            padding: 8px 17px;
            font-size: 30px;
            border-radius: 50%;
            border: 1px solid $light-grey;
            vertical-align: middle;
            transition: 0.1s;
        }

        .reset-button:hover { background-color: $background; border: 1px solid $lighter-grey; }
        .reset-button:active { background-color: $lighter-grey; border: 1px solid $lighter-grey; }

    }

    
    
}