.repair-calendar-view {

    flex: 4;
    padding: 10px;

    .popup {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        top: 200px;
        height: 200px;
        box-sizing: border-box;
        padding: 4px 10px;
        border-radius: 3px;

        .popup-title {
            color: white;
            margin: 0;
            text-align: center;
            font-size: 18px;
        }

        .priority-input, .priority-input-grey, .priority-input-green {
            position: relative;
            width: 40px;
            font-size: 30px;
            border: none;
            outline: none;
            border-radius: 12px;
            margin: auto;
            margin-top: 15px;
            padding: 8px 12px;
            caret-color: transparent;
            color: white;

            p {
                margin: 0;
            }
        }

        .priority-input {
            background-color: #1f70c0;
        }

        .priority-input-grey {
            background-color: #5f5f5f;
        }

        .priority-input-green {
            background-color: rgb(26, 143, 26);
        }

        .priority-input::-webkit-inner-spin-button, 
        .priority-input::-webkit-outer-spin-button,
        .priority-input-grey::-webkit-inner-spin-button, 
        .priority-input-grey::-webkit-outer-spin-button,
        .priority-input-green::-webkit-inner-spin-button, 
        .priority-input-green::-webkit-outer-spin-button {
            opacity: 0;
        }

        .upper-spin-button, .lower-spin-button,
        .upper-spin-button-grey, .lower-spin-button-grey,
        .upper-spin-button-green, .lower-spin-button-green {
            position: absolute;
            margin: 0;
            width: 15px;
            left: 37px;
            height: 12px;
            color: white;
        }

        .upper-spin-button, .lower-spin-button {
            background-color: #1262b3;
        }

        .upper-spin-button-grey, .lower-spin-button-grey {
            background-color: #424242;
        }

        .upper-spin-button-green, .lower-spin-button-green {
            background-color: rgb(21, 117, 21);
        }

        .upper-spin-button-grey:hover, .lower-spin-button-grey:hover {
            background-color: #383838;
        }

        .upper-spin-button-grey, .upper-spin-button, .upper-spin-button-green {
            top: 19px;
            border-radius: 4px 4px 0 0;
        }

        .lower-spin-button-grey, .lower-spin-button, .lower-spin-button-green {
            top: 30px;
            border-radius: 0 0 4px 4px;
        }

        .navigate-button, .navigate-button-grey, .navigate-button-green {
            position: absolute;
            bottom: 10px;
            width: calc(100% - 20px);

            button {
                color: white;
                border: none;
            }
        }

        .delete-button, .delete-button-grey, .delete-button-green {
            position: absolute;
            bottom: 45px;
            width: calc(100% - 20px);

            button {
                color: white;
                border: none;
            }
        }

        .navigate-button, .delete-button {
            button {
                background-color: #1f70c0;
            }

            button:hover {
                background-color: #1262b3;
            }
        }

        .navigate-button-grey, .delete-button-grey {
            button {
                background-color: #5f5f5f;
            }

            button:hover {
                background-color: #464646;
            }
        }

        .navigate-button-green, .delete-button-green {
            button {
                background-color: rgb(26, 143, 26);
            }

            button:hover {
                background-color: rgb(21, 117, 21);
            }
        }
    }

    .create-popup {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        top: 200px;
        height: 260px;
        box-sizing: border-box;
        padding: 4px 10px;
        border-radius: 3px;
        background-color: limegreen;

        .popup-title {
            color: white;
            margin: 0;
            text-align: center;
            font-size: 18px;
        }

        .time-input {
            .time-hours, .time-minutes {
                margin: 5px auto;
                display: block;
                background-color: rgb(26, 143, 26);
                color: white;
                border: none;
                padding: 8px;
                border-radius: 6px;
                text-align: center;
                font-size: 15px;
                outline: none;
            }
        }

        .priority-input {
            position: relative;
            width: 40px;
            font-size: 30px;
            border: none;
            outline: none;
            border-radius: 12px;
            margin: auto;
            margin-top: 5px;
            padding: 8px 12px;
            caret-color: transparent;
            color: white;

            p {
                margin: 0;
            }
        }

        .priority-input {
            background-color: rgb(26, 143, 26);
        }

        .priority-input::-webkit-inner-spin-button, 
        .priority-input::-webkit-outer-spin-button {
            opacity: 0;
        }

        .upper-spin-button, .lower-spin-button {
            position: absolute;
            margin: 0;
            width: 15px;
            left: 37px;
            height: 12px;
            color: white;
        }

        .upper-spin-button, .lower-spin-button {
            background-color: rgb(21, 117, 21);
        }

        .upper-spin-button {
            top: 19px;
            border-radius: 4px 4px 0 0;
        }

        .lower-spin-button {
            top: 30px;
            border-radius: 0 0 4px 4px;
        }

        .submit-button {
            position: absolute;
            bottom: 10px;
            width: calc(100% - 20px);

            button {
                color: white;
                border: none;
            }
        }

        .cancel-button {
            position: absolute;
            bottom: 45px;
            width: calc(100% - 20px);

            button {
                color: white;
                border: none;
            }
        }

        .cancel-button, .submit-button {
            button {
                background-color: rgb(26, 143, 26);
            }

            button:hover {
                background-color: rgb(21, 117, 21);
            }
        }
    }

}