@keyframes confirm {
    0% { width: 120px; }
    100% { width: 240px; }
}

.repair {

    margin-bottom: 10px;

    .title {

        .status {
            margin-top: 1px;
            padding: 4px 12px;
            border-radius: 16px;
            color: white;
        }

        .action-buttons {
            position: absolute;
            right: 20px;

            transition: 0.2s;

            div {
                display: inline-block;
                margin-left: 10px;
            }

            .archive-job {
                
                button {
                    color: $darker-grey;
                }
    
                button:hover { background-color: $lighter-grey; border-color: $dark-grey; }
                button:active { background-color: $click-grey; }

            }

            .delete-job { 

                button {
                    border-color: red;
                    color: red;
                }

                button:hover { background-color: rgb(252, 216, 216); }
                button:active { background-color: rgb(250, 193, 193); }

            }
            
        }

    }

    .repair-error-message {
        margin-top: 50px;
    }

    .repair-content {

        .repair-details {
            margin-top: 50px;
            display: flex;
            gap: 10px;
            width: 100%;
            min-height: 300px;
        }

        .repair-assessments {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            padding: 10px 14px;
            background-color: $white;
            border: 1px solid $light-grey;
            border-radius: 12px;
        }

        .repair-notes {
        
            flex: 2;
            padding: 10px 14px;
            background-color: $white;
            border: 1px solid $light-grey;
            border-radius: 12px;

            .notes-contents {
                
                position: relative;
                box-sizing: border-box;
                height: 100%;
                padding-bottom: 60px;;
                
                .edit-notes-button {
                    display: flex;
                    position: absolute;
                    bottom: 2px;
                    width: 100%;
                    height: 40px;
                    gap: 6px;

                    div { flex: 1; }
                }

                .notes-edit {
                    margin: 11px -4px;
                    padding: 2px 3px;
                    font-family: inherit;
                    font-size: 14px;
                    outline: none;
                    border: 1px solid $grey;
                    border-radius: 8px;
                    width: 100%;
                    min-height: 140px;
                    resize: none;
                }

            }

        }
    }

    .repair-assessments {

        .assessments-loading-message {
            margin: 0;
            margin-top: 10px;
        }

        .create-button {
            height: 40px;
            margin: 10px 0 4px;
    
            .fa-icon {
                font-size: 16px;
                vertical-align: sub;
                margin-right: 2px;
            }
    
            div {
                width: 100%;
                height: 100%;
            }
        }
    
        .no-assessment-button {
            height: 200px;
            margin-top: 16px;
            display: flex;
            gap: 10px;
    
            div { flex: 1; }
            button { padding: 0 44%; font-size: 16px; color: rgb(46, 46, 46); }
            button:hover { color: rgb(46, 46, 46); }
            .fa-icon { font-size: 40px; padding: 0 40px 10px; }
        }
    
        .create-assessment-title {
            margin: 0;
            padding: 10px 0;
            font-size: 16px;
            font-weight: bold;
        }
    
        .create-assessment-form {
            display: flex;
            position: relative;
            gap: 20px;
            padding-bottom: 110px;
    
            p {
                display: inline-block;
                vertical-align: top;
                margin: 0;
                margin-top: 10px;
                white-space: pre-wrap;
            }
    
            .detail {
                width: 200px;
                overflow-wrap: break-word;
                hyphens: auto;
            }
    
            .notes {
                width: 300px;
            }
    
            .time-column {
                flex: 5;
    
                .time-title { margin-right: 60px; }
                
                .time-cost-title { margin-right: 24px; }
            }
    
            .materials-column {
                flex: 6;
    
                .materials-title { margin-right: 158px; }
                
                .material-cost-title { margin-right: 122px; }
    
                .material-cost-customer-title { margin-right: 24px; }
            }
    
            .notes-column {
                flex: 6;
    
                .notes-title { margin-right: 24px; }
            }
    
        }
    
        .delete-assessment-button {
            position: absolute;
            right: 4px;
            bottom: 10px;
            width: 200px;
            
            button {
                border-color: red;
                color: red;
            }
    
            button:hover { background-color: rgb(252, 216, 216); }
            button:active { background-color: rgb(250, 193, 193); }
            
        }
    
        .edit-assessment-button, .cancel-edit-button {
            position: absolute;
            right: 4px;
            bottom: 50px;
            width: 200px;
        }
    
        .save-edit-button {
            position: absolute;
            right: 4px;
            bottom: 10px;
            width: 200px;
        }
    
        .edit-assessment-button {
            position: absolute;
            right: 4px;
            bottom: 50px;
            width: 200px;
        }
    
        textarea {
            width: 200px;
            height: 100px;
            vertical-align: middle;
            margin-top: 10px;
            border: 1px solid $grey;
            border-radius: 6px;
            outline: none;
            resize: none;
            font-size: 14px;
            font-family: inherit;
            padding: 4px 6px;
        }
    
        input {
            width: 200px;
            margin-top: 10px;
            padding: 6px;
            border: 1px solid $grey;
            border-radius: 6px;
            outline: none;
            font-size: 14px;
        }
    
        select {
            width: 105px;
            margin-top: 10px;
            margin-right: 5px;
            padding: 6px;
            border: 1px solid $grey;
            border-radius: 6px;
            outline: none;
            font-size: 14px;
        }
    
        .notes { width: 300px; }
    
        .cancel-create-assessment-button {
            position: absolute;
            right: 4px;
            bottom: 50px;
            width: 200px;
        }
    
        .submit-create-assessment-button {
            position: absolute;
            right: 4px;
            bottom: 10px;
            width: 200px;
        }
    }

    .open-job-button {
        margin: 10px 20px;
        
        button {
            border-radius: 100px;
        }
    }

}