.SearchBar .search-bar {
    color: var(--text);
    font-family: inherit;
    width: 400px;
    align-self: center;
    padding: 6px 14px;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    border-radius: 30px;
    font-size: 15px;    
}

.SearchBar .search-bar:hover, .SearchBar .search-bar:focus {
    outline: none;
    box-shadow: 0 1px 10px var(--content-border);
}

.SearchBar .search-bar::placeholder {
    color: var(--faded-text)
}

.SearchBar datalist {
    background-color: var(--content-background);
}

@media screen and (max-width: 800px) {
    .SearchBar .search-bar {
        display: none;
    }
}