.login {

    .login-box {

        background-color: white;
        width: 500px;
        height: 350px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        background-color: $white;
        border: 1px solid $light-grey;
        border-radius: 12px;
        padding: 10px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        div {
            width: 100%;
        }

        .brand {
            width: 80%;
            margin-left: 44px;
            margin-top: 20px;
        }

        .password-input {
            display: block;
            margin: auto;
            margin-top: 30px;
            width: 260px;
            padding: 10px;
            border: 1px solid $grey;
            border-radius: 6px;
            outline: none;
            font-size: 14px;
            flex: 8;
        }

        .login-button {
            display: block;
            margin: auto;
            padding: 12px 110px;
            margin-top: 25px;
            border: none;
            border-radius: 30px;
            background: linear-gradient(135deg, rgb(255, 60, 35) 0%, #A10900 100%);
            color: $white;
            font-size: 16px;
        }

        .login-button:hover {
            background: linear-gradient(135deg, rgb(236, 56, 33) 0%, #880700 100%);
        }

        .login-button:active {
            background: linear-gradient(135deg, rgb(216, 52, 30) 0%, #740600 100%);
        }

    }

}