.repair-list {
    margin-top: 50px;

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 12px;
    //border-radius: 0 12px 12px 12px;

    .column-header {
        display: flex;
        border-bottom: 1px solid $light-grey;
        margin: -10px -10px 0 -10px;
        padding: 15px 20px;
        font-weight: bold;

        p {
            margin: 0;
        }

        .fa-icon {
            margin-left: -2px;
            margin-right: 12px;
            padding: 3px;
            font-size: 16px;
        }

        .instrument { flex: 14; }
        .repair-info { flex: 18; }
        .customer { flex: 8; }
    }
}