.HeaderButton {
    background: none;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    transition: 0.1s;
    width: 36px;
    height: 36px;
}

.HeaderButton:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.HeaderButton:active {
    background-color: var(--click-color);
}

.HeaderButton img {
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

/* The following code ensures only one icon is shown, the correct one depending on hover and color theme */

.dark-theme .HeaderButton img.light,
.light-theme .HeaderButton img.dark {
    display: none;
}