.Header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100%;
    max-width: 1800px;
    background-color: var(--background);
    z-index: 5;
}

.Header .brand {
    height: 40px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.Header .brand:hover {
    cursor: pointer;
}

.light-theme .Header .brand.white {
    display: none;
}

.dark-theme .Header .brand.red {
    display: none;
}

.Header .settings-button {
    top: 12px;
    right: 12px;
}

.Header .new-repair-button {
    top: 12px;
    right: 52px;
}

@media screen and (max-width: 1000px) {
    .Header .BlockTopRightButton {
        display: initial;
    }
}

@media screen and (max-width: 400px) {
    .Header .BlockTopRightButton img {
        margin-left: -5px;
    }
}