.Calendar .PageTitle .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.Calendar .PageTitle .gap {
    flex: 1;
}

.Calendar .PageTitle .calendar-mode-toggle {
    position: absolute;
    left: calc(50% + 114px);
    transform: translateX(-50%);
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    border-radius: 8px;
    display: flex;
    padding: 3px;
    gap: 4px;
    margin-top: -2px;
}

.Calendar .PageTitle .calendar-mode-toggle button {
    background: none;
    border: none;
    padding: 5px 12px;
    font-family: inherit;
    border-radius: 6px;
    color: var(--text);
}

.Calendar .PageTitle .calendar-mode-toggle button:hover {
    background-color: var(--hover-color);
}

.Calendar .PageTitle .calendar-mode-toggle button.active {
    background-color: var(--highlight-color);
    color: white;
}

.Calendar .PageTitle .calendar-mode-toggle button.active:hover {
    background-color: var(--highlight-hover);
}

.Calendar .PageTitle .calendar-mode-toggle button:active,
.Calendar .PageTitle .calendar-mode-toggle button.active:active {
    background-color: var(--highlight-click);
    color: white

}

.Calendar .PageTitle .navigation-arrows {
    position: absolute;
    right: 0;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    border-radius: 8px;
    display: flex;
    padding: 3px;
    gap: 4px;
    margin-top: -2px;
}

.Calendar .PageTitle .navigation-arrows button {
    background: none;
    border: none;
    padding: 5px 12px;
    font-family: inherit;
    border-radius: 6px;
}

.Calendar .PageTitle .navigation-arrows button:hover {
    background-color: var(--hover-color);
}

.Calendar .PageTitle .navigation-arrows button:active {
    background-color: var(--click-color);
}

.Calendar .sidebar {
    margin-top: 8px;
    margin-right: 16px;
    align-self: baseline;
}

.Calendar .calendar-content {
    display: flex;
}

.Calendar .calendar-box {
    flex: 1;
    min-height: 400px;
}

@media screen and (max-width: 1000px) {
    .Calendar .PageTitle .calendar-mode-toggle {
        left: 50%;
    }

    .Calendar .sidebar {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .Calendar .PageTitle .calendar-mode-toggle {
        display: none;
    }
}