.Calendar .PageTitle .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.Calendar .PageTitle .gap {
    flex: 1;
}

.Calendar .PageTitle .calendar-mode-toggle {
    position: absolute;
    left: calc(50% + 114px);
    transform: translateX(-50%);
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    border-radius: 8px;
    display: flex;
    padding: 3px;
    gap: 4px;
    margin-top: -2px;
}

.Calendar .PageTitle .calendar-mode-toggle button {
    background: none;
    border: none;
    padding: 5px 12px;
    font-family: inherit;
    border-radius: 6px;
    color: var(--text);
}

.Calendar .PageTitle .calendar-mode-toggle button:hover {
    background-color: var(--hover-color);
}

.Calendar .PageTitle .calendar-mode-toggle button.active {
    background-color: var(--highlight-color);
    color: white;
}

.Calendar .PageTitle .calendar-mode-toggle button.active:hover {
    background-color: var(--highlight-hover);
}

.Calendar .PageTitle .calendar-mode-toggle button:active,
.Calendar .PageTitle .calendar-mode-toggle button.active:active {
    background-color: var(--highlight-click);
    color: white

}

.Calendar .PageTitle .navigation-arrows {
    position: absolute;
    right: 0;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    border-radius: 8px;
    display: flex;
    padding: 3px;
    gap: 4px;
    margin-top: -2px;
}

.Calendar .PageTitle .navigation-arrows button {
    background: none;
    border: none;
    padding: 5px 12px;
    font-family: inherit;
    border-radius: 6px;
}

.Calendar .PageTitle .navigation-arrows button:hover {
    background-color: var(--hover-color);
}

.Calendar .PageTitle .navigation-arrows button:active {
    background-color: var(--click-color);
}

.Calendar .calendar-content {
    display: flex;
}

.Calendar .calendar-box {
    flex: 1;
    min-height: 400px;
}

/* #### DAY VIEW */
.Calendar .day-calendar .day-title {
    text-align: center;
    color: var(--faded-text);
    font-size: 13px;
}

.Calendar .day-calendar .day-title span {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    border-radius: 6px;
    margin-left: 4px;
    vertical-align: -2.5px;
}

.Calendar .day-calendar .day-title span.current-day {
    color: var(--content-background);
    background-color: var(--text);
    padding: 0px 8px;
}

.Calendar .day-calendar .calendar-flex-container {
    display: flex;
    min-width: 1000px;
    background-color: var(--subcontent-border);
    gap: 0.85px;
}

.Calendar .day-calendar .calendar-flex-container .repairer-column {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.Calendar .day-calendar .calendar-flex-container .title-row {
    background-color: var(--content-background);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 0;
}

.Calendar .day-calendar .calendar-flex-container .events-row {
    flex: 1;
    background-color: var(--content-background);
    font-size: 15px;
    margin-top: 1px;
    padding: 4px 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 100px;
}

.Calendar .day-calendar .calendar-flex-container .events-row.disabled {
    background: repeating-linear-gradient(135deg, var(--subcontent-border) 0, var(--subcontent-border) 10%, transparent 0, transparent 50%);
    background-size: 0.5em 0.5em;
    background-color: var(--background);
}

/* #### WEEK VIEW */
.Calendar .week-calendar {
    display: grid;
    min-width: 1000px;
    background-color: var(--subcontent-border);
    gap: 0.85px;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 1fr;
}

.Calendar .week-calendar .calendar-grid-box {
    background-color: var(--content-background);
    padding: 4px 5px;
    box-sizing: border-box;
    position: relative;
}

.Calendar .week-calendar .calendar-grid-box:not(.days-of-the-week, .repairer-name) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 120px;
}

.Calendar .week-calendar .calendar-grid-box.disabled {
    background: repeating-linear-gradient(135deg, var(--subcontent-border) 0, var(--subcontent-border) 10%, transparent 0, transparent 50%);
    background-size: 0.5em 0.5em;
    background-color: var(--background);
}

.Calendar .week-calendar .days-of-the-week {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    color: var(--faded-text);
    line-height: 20px;
    height: 70px;
}

.Calendar .week-calendar .days-of-the-week span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: var(--text);
    width: 40px;
    margin: auto;
    border-radius: 6px;
    padding: 2px 0;
    padding-right: 2px;
}

.Calendar .week-calendar .days-of-the-week span.current-day {
    color: var(--content-background); 
    background-color: var(--text);
}

.Calendar .week-calendar .repairer-name {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.Calendar .week-calendar .calendar-grid-box .time-heat-bar {
    position: absolute;
    display: flex;
    height: 0.1em;
    border-radius: 8px;
    overflow: hidden;
    bottom: 4px;
    width: calc(100% - 10px);
}


/* #### MONTH VIEW */
.Calendar .month-calendar {
    display: grid;
    min-width: 1000px;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.Calendar .month-calendar .calendar-grid-box {
    background-color: var(--content-background);
    padding: 4px 5px;
    box-sizing: border-box;
}


.Calendar .month-calendar .calendar-grid-box:not(.days-of-the-week, .repairer-name) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 80px;
}

.Calendar .month-calendar .days-of-the-week {
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
    font-weight: bold;
    color: var(--text);
}

.Calendar .month-calendar .calendar-grid-box {
    border-radius: 4px;
    border: 1px solid var(--content-background);
    position: relative;
}

.Calendar .month-calendar .calendar-grid-box:hover { cursor: pointer; }

.Calendar .month-calendar .calendar-grid-box.empty { background-color: var(--calendar-green); }
.Calendar .month-calendar .calendar-grid-box.empty:hover { border: 1px solid var(--calendar-green-border); }
.Calendar .month-calendar .calendar-grid-box.quiet { background-color: var(--calendar-yellow); }
.Calendar .month-calendar .calendar-grid-box.quiet:hover { border: 1px solid var(--calendar-yellow-border); }
.Calendar .month-calendar .calendar-grid-box.moderate { background-color: var(--calendar-orange); }
.Calendar .month-calendar .calendar-grid-box.moderate:hover { border: 1px solid var(--calendar-orange-border); }
.Calendar .month-calendar .calendar-grid-box.busy { background-color: var(--calendar-red); }
.Calendar .month-calendar .calendar-grid-box.busy:hover { border: 1px solid var(--calendar-red-border); }

.Calendar .month-calendar .calendar-grid-box.faded { opacity: 0.4; }
.Calendar .month-calendar .calendar-grid-box.faded .date { color: var(--faded-text); }

@media screen and (max-width: 1000px) {
    .Calendar .PageTitle .calendar-mode-toggle {
        left: 50%;
    }

    .Calendar .PageTitle .navigation-arrows {
        right: 16px;
    }
}

@media screen and (max-width: 600px) {

    .Calendar .PageTitle .calendar-mode-toggle {
        display: none;
    }
}