.Calendar {
}

.Calendar .PageTitle .ActionButton img {
    height: 20px;
    vertical-align: -5px;
    margin-right: 6px;
}

.Calendar .PageTitle .gap {
    flex: 1;
}

.Calendar .calendar-content {
    display: flex;
}

.Calendar .calendar-box {
    flex: 1;
}

.Calendar .calendar-container {
    background-color: var(--subcontent-border);
    display: grid;
    grid-template-columns: 100px calc(20% - 20px ) calc(20% - 20px ) calc(20% - 20px ) calc(20% - 20px ) calc(20% - 20px );
    gap: 1px;
    min-width: 1000px;
}

.Calendar .calendar-container .calendar-grid-box {
    background-color: var(--content-background);
    padding: 4px 5px;
    box-sizing: border-box;
}

.Calendar .calendar-container .calendar-grid-box:not(.days-of-the-week, .repairer-name) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 120px;
}

.Calendar .calendar-container .days-of-the-week {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    color: var(--faded-text);
    line-height: 20px;
    height: 70px;
}

.Calendar .calendar-container .days-of-the-week span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: var(--text);
    width: 40px;
    margin: auto;
    border-radius: 6px;
    padding: 2px 0;
    padding-right: 3px;
}

.Calendar .calendar-container .days-of-the-week span.current-day {
    color: var(--content-background); 
    background-color: var(--text);
}

.Calendar .calendar-container .repairer-name {
    display: flex;
    font-weight: bold;
    align-items: center;
}