.activity-element {

    display: flex;
    padding: 18px 10px;
    border-bottom: 1px solid $light-grey;

    p {
        margin: 0;
    }

    .no-repair-message { flex: 8; }
    .job-number { flex: 3; font-weight: bold; }
    .instrument { flex: 5; }
    .info { flex: 32; }

    transition: 0.2s;
}

.activity-element:hover {

    background-color: $light-grey;
    cursor: pointer;
    margin: 0 -10px;
    padding: 18px 20px;
    box-shadow: 0 -1px 0 $light-grey;

}