@keyframes distribution-bar-animation {
    0% { flex: 1; }
}

.dashboard {

    .stats {
        margin-top: 50px;
        display: flex;
        gap: 10px;

        .stat-box {
            padding: 10px;
            height: 240px;
            background-color: $white;
            border: 1px solid $light-grey;
            border-radius: 12px;
        }

        .primary {
            flex: 3;

            .active-repairs {
                margin: 0;
                margin-top: 50px;
                text-align: center;
                font-weight: bold;
                font-size: 50px;
            }

            .subtext {
                margin: 0;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
            }

            .distribution-bar {
                overflow: hidden;
                display: flex;
                background-color: $grey;
                height: 16px;
                margin: 20px 40px 0;
                border-radius: 8px;

                .assessment { background-color: red; transition: 0.5s; animation: distribution-bar-animation 1s; }
                .open { background-color: orange; transition: 0.5s; animation: distribution-bar-animation 1s; }
                .complete { background-color: limegreen; transition: 0.5s; animation: distribution-bar-animation1s; }
            }

            .distribution-bar-subtext {
                display: flex;
                margin: 0 40px;
                text-align: center;
                font-size: 15px;

                .assessment { animation: distribution-bar-animation 1s; }
                .open { animation: distribution-bar-animation 1s; }
                .complete { animation: distribution-bar-animation 1s; }
            }
        }

        .secondary {
            flex: 2;
        }

        .left {
            .month-recieved {
                margin: 0;
                margin-top: 64px;
                text-align: center;
                font-weight: bold;
                font-size: 36px;
            }

            .subtext {
                margin: auto;
                width: 140px;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }
        }

        .right {
            .month-complete {
                margin: 0;
                margin-top: 64px;
                text-align: center;
                font-weight: bold;
                font-size: 36px;
            }

            .subtext {
                margin: auto;
                width: 140px;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

}