.gradient-button {

    button {
        padding: 10px 16px 10px 14px;
        border: none;
        border-radius: 30px;
        background: linear-gradient(90deg, $secondary 0%, $primary 100%);
        color: $white;
        font-size: $paragraph;
        font-weight: bold;
    }

    .fa-icon {
        font-size: $title;
        vertical-align: -5px;
        padding-right: 8px;
    }

}