@keyframes open-add-new-menu {
    0% { height: 0px; width: 0px; }
}

@keyframes add-new-menu-buttons {
    0% { opacity: 0; } 
    100% { opacity: 1; }
}

.navbar {

    position: fixed;
    width: 200px;
    margin-top: 50px;
    padding: 24px 10px;

    .add-new-menu {
        position: absolute;
        z-index: 10;
        box-sizing: border-box;
        overflow: hidden;
        width: 220px;
        height: 125px;
        margin-top: 10px;
        padding: 0 8px;
        background-color: white;
        border: 1px solid $light-grey;
        border-radius: 8px;
        animation: open-add-new-menu 0.15s;

        button {
            display: block;
            width: 100%;
            padding: 12px;
            text-align: left;
            font-size: 15px;
            background: none;
            border: none;
            box-shadow: 0 -1px 0 $light-grey;
            animation: add-new-menu-buttons 0.2s 0.1s backwards;
            transition: 0.2s;
        }

        button:hover {
            background-color: $light-grey;
            margin: 0 -8px;
            padding: 12px 20px;
            width: 120%;
        }
    }

    /*@media screen and (max-width: 768px) {
        width: 50px;
    }*/

}