:root {
    --text: #0f0f0f;
    --slightly-faded-text: #393939;
    --faded-text: #7a7a7a;
    --background: #f3f1f4;
    --content-background: #ffffff;
    --content-border: #e2e2e2;
    --subcontent-border: #e2e2e2;

    --hover-color: #e2e2e2;
    --click-color: #dadada;

    --highlight-color: rgb(165, 19, 11);
    --highlight-border: rgb(140, 21, 15);
    --highlight-hover: rgb(140, 21, 15);
    --highlight-click: rgb(111, 19, 14);

    --red: red;
    --background-red: rgb(255, 200, 200);
    --orange: orange;
    --background-orange: rgb(255, 230, 200);
    --green: limegreen;
    --background-green: rgb(210, 255, 210);

    --grey: rgb(80, 80, 80);
    --background-grey: rgb(215, 215, 215);

    --calendar-red: rgb(255, 200, 200);
    --calendar-red-border: rgb(255, 79, 79);
    --calendar-orange: rgb(255, 230, 200);
    --calendar-orange-border: orange;
    --calendar-yellow: rgb(255, 255, 161);
    --calendar-yellow-border: rgb(244, 224, 0);
    --calendar-green: rgb(210, 255, 210);
    --calendar-green-border: limegreen;
    --calendar-turquoise: rgb(195, 255, 241);
    --calendar-turquoise-border: rgb(35, 246, 196);
    --calendar-blue: rgb(210, 234, 255);
    --calendar-blue-border: skyblue;
    --calendar-indigo: rgb(213, 210, 255);
    --calendar-indigo-border: rgb(101, 91, 255);
    --calendar-purple: rgb(255, 207, 255);
    --calendar-purple-border: rgb(255, 77, 255);

    --font-standard: 14px;
    --font-subtext: 12px;
    --font-header: 15px;
    --font-title: 22px;
}

body.dark-theme {
    --text: #ffffff;
    --slightly-faded-text: #f0f0f0;
    --faded-text: #acacac;
    --background: rgb(28, 28, 30);
    --content-background: rgb(36, 36, 36);
    --content-border: rgb(36, 36, 36);
    --subcontent-border: rgb(56, 56, 56);

    --hover-color: rgb(56, 56, 56);
    --click-color: rgb(50, 50, 50);

    
    --grey: rgb(215, 215, 215);
    --background-grey: rgb(80, 80, 80);

    --red: rgb(255, 212, 212);
    --background-red: red;
    --orange: rgb(255, 236, 213);
    --background-orange: orange;
    --green: rgb(219, 255, 219);
    --background-green: limegreen;

    --calendar-red: rgb(121, 0, 0);
    --calendar-red-border: rgb(186, 0, 0);
    --calendar-orange: rgb(168, 92, 0);
    --calendar-orange-border: rgb(224, 145, 0);
    --calendar-yellow: rgb(198, 179, 6);
    --calendar-yellow-border: rgb(255, 230, 0);
    --calendar-green: rgb(0, 105, 0);
    --calendar-green-border: rgb(0, 160, 0);
    --calendar-turquoise: rgb(0, 92, 71);
    --calendar-turquoise-border: rgb(0, 163, 125);
    --calendar-blue: rgb(0, 63, 118);
    --calendar-blue-border: rgb(0, 128, 179);
    --calendar-indigo: rgb(18, 12, 100);
    --calendar-indigo-border: rgb(13, 0, 199);
    --calendar-purple: rgb(104, 0, 104);
    --calendar-purple-border: rgb(167, 0, 167);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: var(--background);
    color: var(--text);
    font-size: var(--font-standard);    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body:has(.ModalWindow) {
    overflow: hidden;
}

p {
    margin: 0;
    white-space: pre-wrap;
}