.DropdownSelect {

    font-family: inherit;
    font-size: var(--font-standard);
    color: var(--text);
    background-color: var(--background);
    background-position: 7px 5px; 
    background-size: 20px;
    background-repeat: no-repeat;
    border: 1px solid var(--subcontent-border);
    border-radius: 6px;
    padding: 5px 10px;
    outline: none;

}

.DropdownSelect option {
    font-size: var(--font-standard);
    color: var(--text);
}