.Main {
    flex: 1;
    padding: 12px;
    margin-top: 48px;
}

.Main .sample-content-block {
    
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: baseline;
}