.Sidebar {
    position: fixed;
    width: 240px;
    height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 12px;
    gap: 4px;
    box-sizing: border-box;
    background-color: var(--background);
}

.Sidebar .gap {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .Sidebar {
        display: none;
    }
}