.Assessment {
    display: flex;
    gap: 20px;
}

.Assessment .cost-estimate {
    position: relative;
    flex: 8;
}

.Assessment .cost-estimate .costs { margin-top: 8px; }

.Assessment .cost-estimate .costs .cost-item {
    display: flex;
    margin: 2px 0;
    gap: 4px;
}

.Assessment .cost-estimate .costs .cost-item .title { flex: 5; }
.Assessment .cost-estimate .costs .cost-item .value { flex: 4; }
.Assessment .cost-estimate .costs .cost-item .cost { flex: 1; text-align: right; align-self: flex-end; }
.Assessment .cost-estimate .costs .cost-item .total { font-weight: bold; color: var(--text); }

.Assessment .cost-estimate .estimate-invoice-message {
    background-color: var(--background);
    display: flex;
    margin-top: 12px;
    padding: 6px 10px;
    border-radius: 6px;
}
.Assessment .cost-estimate .estimate-invoice-message p { flex: 1; align-self: center; }
.Assessment .cost-estimate .estimate-invoice-message .ActionButton {font-size: var(--font-subtext);}

.Assessment .assessment-notes {
    flex: 7;
    height: unset;
    position: relative;
}

.Assessment .assessment-notes .TextAreaInput {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 40px;
}

.Assessment .assessment-notes .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
}

.Assessment .assessment-notes .assessment-notes-title {
    margin-top: 4px;
}

.Assessment .divider {
    width: 0.9px;
    background-color: var(--subcontent-border);
}

@media screen and (max-width: 1200px) {
    .Assessment .Notes { flex: 5 }
}

@media screen and (max-width: 800px) {
    .Assessment {
        flex-direction: column;
    }

    .Assessment .divider {
        height: 1px;
        width: unset !important; 
    }

    .Assessment .Notes { min-height: 100px; }
}

@media screen and (max-width: 500px) {
    .Assessment .cost-estimate .costs .cost-item .title { flex: 4; }
    .Assessment .cost-estimate .estimate-invoice-message { font-size: var(--font-subtext); }
}