.Assessment {
    display: flex;
    gap: 20px;
}

.Assessment .cost-estimate {
    position: relative;
    flex: 3;
}

.Assessment .cost-estimate .costs { margin-top: 8px; }

.Assessment .cost-estimate .costs .cost-item {
    display: flex;
    margin: 2px 0;
}

.Assessment .cost-estimate .costs .cost-item .cost-contents {
    flex: 5;
}

.Assessment .cost-estimate .costs .cost-item .cost-contents .cost-content {
    display: flex;
}

.Assessment .cost-estimate .costs .cost-item .title { flex: 5; }
.Assessment .cost-estimate .costs .cost-item .value { flex: 4; }
.Assessment .cost-estimate .costs .cost-item .cost { flex: 1; text-align: right; align-self: flex-end; }
.Assessment .cost-estimate .costs .cost-item .total { font-weight: bold; color: var(--text); }

.Assessment .cost-estimate .assessment-select {
    padding: 2px 8px;
}

.Assessment .cost-estimate .estimate-invoice-message {
    background-color: var(--background);
    display: flex;
    margin-top: 12px;
    padding: 6px 10px;
    border-radius: 6px;
}
.Assessment .cost-estimate .estimate-invoice-message p { flex: 1; align-self: center; }
.Assessment .cost-estimate .estimate-invoice-message .ActionButton {font-size: var(--font-subtext);}

.Assessment .cost-estimate .time-inputs {
    display: flex;
    align-items: center;
}

.Assessment .cost-estimate .time-inputs .BlockText {
    flex: 1;
}
.Assessment .cost-estimate .time-inputs .inputs {
    flex: 4;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Assessment .cost-estimate .time-inputs .inputs .DropdownSelect {
    padding: 2px 8px;
}

.Assessment .cost-estimate .time-inputs .TextInput {
    width: 60px;
}

.Assessment .cost-estimate .materials-input {
    margin-top: 8px;
    display: flex;
}

.Assessment .cost-estimate .materials-input .title {
    flex: 1;
}

.Assessment .cost-estimate .materials-input-list {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.Assessment .cost-estimate .materials-input-list .material {
    display: flex;
    gap: 16px;
    align-items: center;
}

.Assessment .cost-estimate .materials-input-list .material .quantity-input {
    width: 30px;
    padding: 2px 8px;
}

.Assessment .cost-estimate .materials-input-list .material .cost-input {
    width: 60px;
    padding: 2px 8px;
}

.Assessment .cost-estimate .materials-input-list .material .delete-material {
    border-color: red;
    height: 24px;
    width: 28px;
    padding: 3px 5px;
}

.Assessment .cost-estimate .materials-input-list .material .delete-material:hover {
    background-color: var(--calendar-red);
}

.Assessment .cost-estimate .materials-input-list .material .delete-material img {
    width: 16px;
}

.Assessment .cost-estimate .materials-input .DropdownSelect {
    padding: 2px 8px;
}

.Assessment .assessment-notes {
    flex: 2;
    height: unset;
    position: relative;
    padding-bottom: 40px;
}

.Assessment .assessment-notes .DropdownSelect {
    padding: 4px 8px;
}

.Assessment .assessment-notes .TextAreaInput {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
}

.Assessment .assessment-notes .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
}

.Assessment .assessment-notes .assessment-notes-title {
    margin-top: 4px;
}

.Assessment .divider {
    width: 0.9px;
    background-color: var(--subcontent-border);
}

.Assessment .assessment-notes .CollapsibleText {
    margin-top: 12px;
}

@media screen and (max-width: 1200px) {
    .Assessment .Notes { flex: 5 }
}

@media screen and (max-width: 800px) {
    .Assessment {
        flex-direction: column;
    }

    .Assessment .divider {
        height: 1px;
        width: unset !important; 
    }

    .Assessment .Notes { min-height: 100px; }
}

@media screen and (max-width: 500px) {
    .Assessment .cost-estimate .costs .cost-item .title { flex: 4; }
    .Assessment .cost-estimate .estimate-invoice-message { font-size: var(--font-subtext); }
}