.HamburgerMenu {
    display: none;

    background-color: var(--background);
    height: 100vh;
    width: 100%;
    top: 60px;
    position: fixed;
    z-index: 1;
    padding: 16px;
    box-sizing: border-box;
    
}

.HamburgerMenu .menu {
    display: flex;
    gap: 24px;
    max-width: 500px;
    margin: auto;
}

.HamburgerMenu .calendar {
    width: 240px;
}

.HamburgerMenu .navigation-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .HamburgerMenu {
        display: initial;
    }
}

@media screen and (max-width: 500px) {
    .HamburgerMenu .menu {
        flex-direction: column;
        align-items: center;
    }

    .HamburgerMenu .calendar {
        transform: scale(1.25);
        margin-top: 32px;
    }

    .HamburgerMenu .navigation-buttons {
        transform: scale(1.25);
        margin-top: 40px;
    }

    .HamburgerMenu .navigation-buttons .NavigationButton {
        background-position: 8px 7px;
    }
    
}