@keyframes shrinkParent {
    0% {
        border-bottom: 1px solid var(--background);
    }

    25% {
        border-bottom: 1px solid var(--content-border);
    }

    50%, to {
        font-size: 18px;
        padding-top: 0;
        padding-left: 0;
        border-bottom: 1px solid var(--content-border);
    }
}

@keyframes shrinkChild {
    50%, to {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.PageTitle {

    display: flex;
    position: fixed;
    font-size: var(--font-title);
    top: 64px;
    background-color: var(--background);
    width: calc(100% - 266px);
    padding: 12px 0;
    z-index: 1;

}

.PageTitle p {
    flex: 1;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .PageTitle {
        width: calc(100% - 24px);
        left: 0;
        padding-left: 12px;
    }
}

@media screen and (max-width: 500px) {
    @supports (animation-timeline: scroll()) {
        .PageTitle {
            animation: shrinkParent linear both;
            animation-timeline: scroll(y);
        }
    
        .PageTitle p {
            animation: shrinkChild linear both;
            animation-timeline: scroll(y);
        }
    }
}