.ModalWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.ModalWindow .window {
    position: relative;
    width: 500px;
    height: 300px;
}

.ModalWindow .BlockTopRightButton {
    top: 12px;
    right: 12px;
}