.NavigationCalendar {
    margin-top: 8px;
    margin-right: 16px;
    align-self: baseline;
}

.NavigationCalendar .month-navigation {
    display: flex;
    align-items: center;
}

.NavigationCalendar .month-navigation button {
    background: none;
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 32px;
}

.NavigationCalendar .month-navigation button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.NavigationCalendar .month-navigation button:active {
    background-color: var(--click-color);
}

.NavigationCalendar .month-navigation button img {
    height: 20px;
    margin-top: 3px;
}

.light-theme .NavigationCalendar .month-navigation button img.dark {
    display: none;
}

.dark-theme .NavigationCalendar .month-navigation button img.light {
    display: none;
}

.NavigationCalendar .month-navigation p {
    flex: 1;
    text-align: center;
}




.NavigationCalendar .day-navigation {
    margin-top: 12px;
}

.NavigationCalendar .day-navigation .week, .NavigationCalendar .day-navigation .days-of-the-week {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 6px 0;
    padding: 2px 4px;
    border-radius: 6px;
}

.NavigationCalendar .month-days {
    border-radius: 6px;
}

.NavigationCalendar .day-navigation p, .NavigationCalendar .day-navigation button {
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    color: var(--slightly-faded-text);
    background: none;
    border: none;
    font-family: inherit;
    font-family: var(--font-standard);
}

.NavigationCalendar .day-navigation p { font-weight: bold; height: 24px; }

.NavigationCalendar .day-navigation button {
    border-radius: 50%;
}

.NavigationCalendar .day-navigation .faded { color: var(--faded-text); }


.NavigationCalendar .day-navigation.month-mode .month-days:hover,
.NavigationCalendar .day-navigation.week-mode .week:hover,
.NavigationCalendar .day-navigation.day-mode button:hover,
.NavigationCalendar .day-navigation.month-mode .month-days.active,
.NavigationCalendar .day-navigation.week-mode .week.active,
.NavigationCalendar .day-navigation.day-mode button.active {
    background-color: var(--hover-color);
}
.NavigationCalendar .day-navigation.month-mode .month-days:active,
.NavigationCalendar .day-navigation.week-mode .week:active,
.NavigationCalendar .day-navigation.day-mode button:active {
    background-color: var(--click-color);
}

.NavigationCalendar .day-navigation .current-day,
.NavigationCalendar .day-navigation.day-mode .current-day:hover,
.NavigationCalendar .day-navigation.day-mode .current-day:active { 
    color: var(--content-background); 
    background-color: var(--text);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}