.ModalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.ModalWindow .window {
    position: relative;
    width: 500px;
    height: 300px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
}

.ModalWindow .BlockTopRightButton {
    top: 12px;
    right: 12px;
}