.CalendarWeekView {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 1fr;
    gap: 0.05rem;

    min-width: 1000px;
    background-color: var(--subcontent-border);
}

.CalendarWeekView .calendar-grid-box {
    position: relative;
    
    padding: 4px 5px;
    box-sizing: border-box;
    background-color: var(--content-background);
}


/* Normal calendar grid days */
.CalendarWeekView .calendar-grid-box:not(.day-of-the-week, .repairer-name) {
    display: flex;
    flex-direction: column;
    gap: 6px;

    min-height: 120px;
}

.CalendarWeekView .calendar-grid-box.current-day {
    background-color: var(--calendar-highlight-color);
}

.CalendarWeekView .calendar-grid-box.deadline {
    background-color: var(--calendar-highlight-color);
}

.CalendarWeekView .calendar-grid-box.disabled {
    background: repeating-linear-gradient(135deg, var(--subcontent-border) 0, var(--subcontent-border) 10%, transparent 0, transparent 50%);
    background-size: 0.5em 0.5em;
    background-color: var(--background);
}

.CalendarWeekView .calendar-grid-box .time-heat-bar {
    position: absolute;
    bottom: 4px;

    display: flex;

    width: calc(100% - 10px);
    height: 0.15em;

    border-radius: 8px;
    overflow: hidden;
}

.CalendarWeekView .calendar-grid-box .time-heat-bar .heat.green {
    background-color: var(--calendar-green-border);
}
.CalendarWeekView .calendar-grid-box .time-heat-bar .heat.yellow {
    background-color: var(--calendar-yellow-border);
}
.CalendarWeekView .calendar-grid-box .time-heat-bar .heat.orange {
    background-color: var(--calendar-orange-border);
}
.CalendarWeekView .calendar-grid-box .time-heat-bar .heat.red {
    background-color: var(--calendar-red-border);
}


/* Day of the week title boxes */
.CalendarWeekView .calendar-grid-box.day-of-the-week {
    color: var(--faded-text);
    font-size: 12px;
    text-align: center;
    line-height: 20px;

    padding: 10px 0;
    height: 70px;
}

.CalendarWeekView .calendar-grid-box.day-of-the-week span {
    display: block;

    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    margin: auto;
    padding: 2px 2px 2px 0;
}

.CalendarWeekView .calendar-grid-box.day-of-the-week span.current-day {
    color: var(--content-background); 
    background-color: var(--text);
    border-radius: 6px;
}


/* Repairer name boxes */
.CalendarWeekView .repairer-name {
    display: flex;
    align-items: center;

    font-weight: bold;
}